
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Niconne);
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    color: #212529;
    font-size: 0.875rem;
    
}
.container{

}
/* navhead */
.navhead{
    line-height: 51px;
    background-color: #009688;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.navheadleft{
    background-color: #007D71;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.navheadleft a{
    font-family: Niconne;
    text-decoration: none;
    color: white;
    font-size: 26px;
    text-align: center;
    width: 230px;
}
.navheadright{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}
.navheadright .nhrl{
    height: 100%;

}
.navheadright .nhrl .nhrlcontainer{
    display: flex;
    flex-direction: column;
    height: 51px;
    padding: 0 15px;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;

}
.navheadright .nhrl .nhrlcontainer span{
     display: block;
     width: 18px;
     height: 3px;
     background-color: #fff;
     margin-bottom: 3px;
}
.navheadright .nhrl .nhrlcontainer.active{
     background-color:  #00635a
}

.navheadright .nhrr .nhrrcontainer .inputgroup{
    margin-right: 10px;
}
.navheadright .nhrr .nhrrcontainer{
    display: flex;
}
.navheadright .nhrr .nhrrcontainer>i{
    display: block;
    line-height: 51px;
    color: white;
    font-size: 19px;
    padding: 0 15px;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
}
.navheadright .nhrr .nhrrcontainer>i:hover{
    background:rgba(0, 0, 0, 0.1);
}
.navheadright .nhrr .inputgroup{
    position: relative;
}
.navheadright .nhrr .inputgroup input{
    background:rgba(255, 255, 255, 0.787);
    border:none;
    padding: 5px 10px;
    border-radius: 3px;
    width: 180px;
    height: 21px;
    padding-right: 20px;
}
.navheadright .nhrr .inputgroup button{
   position: absolute;
   right: 0;
   display: inline-block;
   cursor: pointer;
   height: 31px;
   width: 30px;
   border: 0;
   top: 11px;
   background-color: rgba(0, 0, 0, 0);
}
#i1>div{
    position: absolute;
    display: none; 
    right: 0px;
}
#i1>div.active{
    display: inline-block;
}
.navheadright .nhrr #i1 .i1tab{
    width: 270px;
    display: flex;
    height: 300px;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: default;
    overflow: hidden;
}
.navheadright .nhrr #i1 .i1tab_head{
    width: 100%;
}
.navheadright .nhrr #i1 .i1tab_head span{
    text-align: center;
    background-color: rgba(0, 150, 136, 0.4);
    color: #333;
    display: block;
    font-size: 16px;
    line-height: 37px;
    user-select: none;
}
.navheadright .nhrr #i1 .i1tab_feet{
    width: 100%;
    background-color: #EEEEEE;
    
}
.navheadright .nhrr #i1 .i1tab_feet a{
    display: block;
    width: 100%;
    line-height: 37px;
    text-align: center;
    text-decoration: none;
    color: #009688;
    font-size: 16px;
}
.navheadright .nhrr #i1 .i1tab_feet a:hover{
    text-decoration: underline;
}
.navheadright .nhrr #i1 .i1tab_body{
    height: 226px;
    overflow-y: auto;
}
.navheadright .nhrr #i1 .i1tab_body li>a{
    display: flex;
    height: 56.5px;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-left:20px;
    padding-right: 20px;
    align-items: center;
    transition: 0.3s;
    text-decoration: none;
    font-size:14px;
}
.navheadright .nhrr #i1 .i1tab_body li>a:hover{
    background-color: #e0e0e0;
}
.navheadright .nhrr #i1 .i1tab_body .i1tab_bodyleft{
    display:flex;
    width: 37px;
    height: 37px;
    background-color: #009688;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.navheadright .nhrr #i1 .i1tab_body .green{
    background-color: #28A745;
}
.navheadright .nhrr #i1 .i1tab_body .red{
    background-color: #DC3545;
}
.navheadright .nhrr #i1 .i1tab_body .i1tab_bodyleft i{
    color: white;
    font-size: 22px;
}
.navheadright .nhrr #i1 .i1tab_body .i1tab_bodyright{
    height: 56.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navheadright .nhrr #i1 .i1tab_body li>a p{
    font-size: 14px;
    line-height: 20px;
    color: rgb(33, 37, 41);
}
.navheadright .nhrr #i1 .i1tab_body li>a p span{
    color: rgb(108, 117, 125);
}

#i2>div{
    position: absolute;
    display: none; 
    right: 0px;
}
#i2>div.active{
    display: inline-block;
    background-color: #fff;
}
#i2 .i2tab{
    width: 160px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#i2 .i2tab ul{
    display: flex;
    flex-direction: column;
}
#i2 .i2tab ul li{
    line-height: 36.666px; 
    padding-left: 20px;
    list-style: none;
}
#i2 .i2tab ul li:hover{
    background-color: #EEEEEE;
}
#i2 .i2tab ul li>i{
    color: black;
    vertical-align: middle;
    margin-right: 5px;
}
#i2 .i2tab ul li>a{
    text-decoration: none;
    font-size: 16px;
    color: #212529;
    position: absolute;
    display: inline-block;
    height: 36px;
    width: 160px;
    left: 0px;
    padding-left: 45px;
}
/* navhead end */

/* bodyleft */
.body,.body>div{
    display: flex;
}
.body{
    align-items: stretch;

    padding-top: 51px;

}
.bodyleft{
    flex-direction: column;
    width: 230px;
    background-color: #222D32;
    left: 0px;
    transition: 0.3s;
    padding-top: 20px;
    position: fixed;
    height: 100vh;
    z-index: 9;
}
.bodyleft_head{
    display: flex;
    padding: 10px 10px;
    margin-bottom: 20px;
}
.bodyleft_head .bdlh_head_left img{
    width: 48px;
    height: 48px;
    display: block;
    border-radius: 50%;
    margin-right: 15px;
    transition: 0.3s;
}
.bodyleft .bodyleft_head .bdlh_head_right{
    color: #fff;
    transform: 0.3s;
    white-space: nowrap;
}
.bodyleft .bodyleft_head .bdlh_head_right p{
    font-size: 17px;
}
.bodyleft .bodyleft_head .bdlh_head_right p span{
    font-size: 14px;
}
.bodyleft .bodyleft_body{
    position: relative;
    top: 0px;
}

.bodyleft .bodyleft_body li a{
    color: #fff;
    font-size: 15px;
    padding: 12px 15px;
    line-height: 22px;
    display: block;
    border-left: 3px solid #222D32;
    transition: 0.3s;
    cursor: pointer;
    white-space: nowrap;
}
.bodyleft .bodyleft_body>ul>li>a i{
    margin-right: 5px;
}
.bodyleft .bodyleft_body>ul>li>a:hover{
    background-color: #0D1214;
    border-left: 3px solid #009688;
}
.bodyleft .bodyleft_body>ul>li>a.active{
    background-color: #0D1214;
    border-left: 3px solid #009688;
}
.bodyleft .bodyleft_body>ul>li>a span{
    white-space: nowrap;

}
.bodyleft .bodyleft_body>ul>li>a i.fa-angle-right{
    float: right;
    transition: 0.3s;
}

.bodyleft .bodyleft_body li>ul{
    height: 0;
    overflow: hidden;
    transition: 0.3s;
} 
.bodyleft .bodyleft_body li>ul.active{
    height: 184px;
} 
.bodyleft .bodyleft_body li>#u3.active{
    height: 92px;
}
.bodyleft .bodyleft_body li>#u4.active{
    height: 368px;
}
.bodyleft .bodyleft_body li>ul>li{
  background-color: #2A383E;
  transition: 0.3s;

}
.bodyleft .bodyleft_body li>ul>li>a{
    border:0;
    font-size: 14px;
}
.bodyleft .bodyleft_body li>ul>li>a:hover{
  background-color: #0D1214!important;
}





.bodyleft .bodyleft_body li.active a i.fa-angle-right{
    transform: rotate(90deg);
}



/* 左边缩小以后 */
#bodyleft.active{
    width: 50px;
    cursor: pointer;
    z-index: 1;
}
#bodyleft.active .bdlh_head_left img{
    width: 30px;
    height: 30px;
}
#bodyleft.active .bdlh_head_right{
    display: none;
}
#bodyleft.active .bodyleft_body>ul>li{
    position: relative;

}
#bodyleft.active .bodyleft_body>ul>li>a{
    position: relative;
    width: 50px;
    box-sizing: border-box;
    padding: 8px 15px;

}
#bodyleft.active .bodyleft_body>ul>li>a i{
    margin-right: 0;
}
#bodyleft.active .bodyleft_body>ul>li>a .fa-angle-right{
    display: none;
}
#bodyleft.active .bodyleft_body>ul>li>a>span{
    position: absolute;
    display: block;
    left: 47px;
    top: 0px;
    width: 180px;
    line-height: 38px;
    background-color: #0D1214;
    padding-left: 30px;
    box-sizing: border-box;
    white-space:nowrap;
    border-radius:0 3px 3px 0;
    display: none;

}
#bodyleft.active .bodyleft_body>ul>li>a>span.active{
    opacity: 1;
    transition: 0.3s;
    display: block;
}
#bodyleft.active .bodyleft_body>ul>li{
    position: relative;
}
#bodyleft.active .bodyleft_body>ul ul{
    position: absolute;
    width: 180px;
    left: 49px;
    top: 38px;
    white-space: nowrap;

}
/* 左边缩小以后 结束 */
/* bodyleft end */

/* bodyright */
.body .bodyright{
    background-color: #E5E5E5;
    flex-grow: 1;
    display: block;
    overflow-y:auto;
    padding-left: 230px;
    transition: 0.3s;
}
.bodyright_navhead{
    height: 89px;
    background-color: #fff;
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 10px -5px #666, 2px 0px 10px -5px #666 inset;
    margin-bottom: 30px;
}
.bodyright_navhead .headleft i,.bodyright_navhead .headleft span{
    font-size: 24px;
}
.bodyright_navhead .headleft p{
    font-style: italic;
}
.bodyright_navhead .headright a{
    color:#009688;
} 
.bodyright_navhead .headright a:hover{
    color: #00635a;
    text-decoration: underline;
}

/* bodyright_body */
.bodyright_body{
    padding: 0 15px;
}
.bodyright_body .row1{
    display: flex;
    justify-content: space-between;
}
.bodyright_body .row1 .page{
    width: 25%;
    padding: 0 15px;
    height: 80px;
    display: flex;
    margin-bottom: 30px;
    box-sizing: border-box;
    transition: 0.3s;
}
.bodyright_body .row1 .page>div{
    display: flex;
    width: 100%;
    background-color:#fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -4px #666;
}

.bodyright_body .row1 .page .pageleft{
    width: 85px;
    display: flex;
    height: 100%;
    border-radius: 5px 0 0 5px;
    justify-content: center;
    align-items: center;
}
.bodyright_body .row1 .page span i{
    color: #fff;
    font-size: 40px;
}
.bodyright_body .row1 .page .pageright{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}
.bodyright_body .row1 .page .pageright .pr1{
    font-size:17px;
    margin-bottom: 10px;
}
.bodyright_body .row1 .page .pageright .pr2{
    font-weight: 700;
}
.users{
    background-color: #009688!important;
}
.thumbs{
    background-color: #17A2B8!important;
}
.files{
    background-color: #FFC107!important;
}
.star{
    background-color: #dc3545!important;
}
.usersd{
    background-color: #00786D;
}
.thumbsd{
    background-color: #128293;
}
.filesd{
    background-color: #CC9A06;
}
.stard{
    background-color: #B02A37;
}
.widgets{
    color: white;
}
/* bodyright_body end */

/* row2 */
.bodyright_body .row2,.bodyright_body .row2>div{
    display: flex;
}
.bodyright_body{

}
.bodyright_body .row2 .row2left{
    width: 50%;
    height: 50vh;
    padding: 0 15px;
    margin-bottom: 30px;
}
.bodyright_body .row2 .row2right{
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.bodyright_body .row2left>div,.bodyright_body .row2right>div{
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
}
.bodyright_body .row2 .row2right .piechars,.bodyright_body .row2 .row2left .linechars{
    height: 100%;
    width: 100%;
}
/* row2 end */

/* row3 */
.bodyright_body .row3,.bodyright_body .row3>div{
    display: flex;
}
.bodyright_body .row3{
    margin-bottom: 30px;
}
.bodyright_body .row3 .row3right{
    width: 100%;
    height: 60vh;
    padding: 0 15px;
}
.bodyright_body .row3left>div,.bodyright_body .row3right>div{
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
}
.bodyright_body .row3 h3{
    font-size: 28px;
    margin-bottom: 30px;
}
.bodyright_body .row3 ul{
    margin-left: 40px;
    margin-bottom: 20px;
}
.bodyright_body .row3 p{
    margin-bottom: 20px;
    font-size: 14px;
}
.bodyright_body .row3  p a{
    color: #00635a;
    font-weight: 700;
}
.bodyright_body .row3 .row3right .r2,.bodyright_body .row3 .row3left .r1{
    height: 100%;
    width: 100%;
    position: relative;
  
}
.bodyright_body .row3 .row3right .r2,.bodyright_body .row3 .row3left .r2{
   
}
.row3left>div,.row3right>div,.row2left>div,.row2right>div{
    box-shadow:0px 2px 10px -1px #666;
    padding: 20px;
    display: flex;
    overflow: auto;
    margin-bottom: 30px;
}
.r1>div a{
    padding: 6px 12px;
    margin-right: 8px;
    color: white;
    border-radius: 3px;
    display: inline-block;
    transition:0.3s;
    margin-bottom: 20px;
}
.r1>div a:hover{
    background-color: #007065;
    border-color: #00635A;
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px -2px #999;
}
.btn1{
    background-color: #009688;
    border: 3px solid #009688;
}
.btn2{
    background-color: #17A2B8;
    border: 3px solid #17A2B8;
}
.btn3{
    background-color: #28A745;
    border: 3px solid #28A745;
}
/* row3 end */


/* bodyright end */


/* bodyrightactive */
#bodyright.active{
    padding-left: 50px;
}
/* bodyrightactive end */



@media screen and (max-width:768px){
    .navheadleft{
        left: 48px;
        background-color: #009688;
        width: 50%;
    }
    .navheadleft a{
        width: 100%;
    }
    .navheadright .nhrl{
        position: absolute;
        left: 0px;
    }
    .navheadright .nhrr{
        position: absolute;
        right: 20px;
    }
    .bodyright_body .row1{
      flex-wrap: wrap;
    }
    .bodyright_body .row1 .page{
        width: 100%!important;
    }


}

@media screen and (max-width:1034px){
   .bodyright_body .row1{
      flex-wrap: wrap;
    }
    .bodyright_body .row1 .page{
        width: 50%;
    }
    .row2{
        flex-wrap: wrap;
    }
    .row2>div{
        width: 100%!important;
        height: 80vh!important;
    }
    .row3{
        flex-wrap: wrap;
    }
    .row3>div{
        width: 100%!important;
        height: 80vh;
    }

}